/*
Author: Jake Donaldson
Version: 2/25/22
This stylesheet is designed to work with favoritequotes.html
 */

/*Generated Through JavaScript*/
#quoteCard {
    background-color: beige;
}

/*Generated Through JavaScript*/
#quoteFont {
    font-style: italic;
}

#result {
    display: block;
    padding-bottom: 40%;
}

/*Hidden Under Normal Circumstances*/
#submitButton {
     display: none;
 }